
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
font-family: Roboto;
    margin: 0;
background-color: #d5d5d5;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

header button{
height: 30px;

}
#text-titulo {
  
border-radius: 30px;
  top: -10px;
  z-index: 99;
  margin: 0 auto;
  text-align: center;
  
  font-size: 18px;
  
  color: #000000;

}
.titulo {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
  
  color: #010101;
}
.line{
border: 2px solid black;
  width: 100%;
  height: 25px;
  background: #00e1ff;
  
}
header{
  align-items: center;
    background:linear-gradient(to top, rgb(105, 240, 229),rgb(32, 64, 193));
box-shadow: 0 0 20px rgb(91, 91, 91);
}
/* começo menu mobile*/

  /* barra lateral menu hamburguer*/

 
#logo{

  border-radius: 100px;
}
/* Estilo do menu */
.menu button {
  
padding: 10px;
font-size: 20px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background :linear-gradient(to top, rgba(105, 240, 229, 0.86),rgba(29, 61, 188, 0.86));
    color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo quando o menu está ativo */
.menu.active {
    transform: translateX(0);
}

/* Estilo dos links do menu */

.menu a {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0;
}
 
header a{
  border-radius:20px ;
  border:1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px 10px;
  background:linear-gradient(to top, rgba(9, 205, 120, 0.446),rgb(15, 1, 30));
  cursor: pointer;
  transition: 0.8s ease;
  margin-bottom: 20px;
  }



.nav-pc ul{
  margin-top: 35px;
display: inline-flex;
list-style: none ;
gap: 20px;
}
  
  /* final menu mobile*/
 
  /* começo das imagens dos clientes*/

.card img{
  object-fit: contain;
}

.card{
 
    cursor: pointer;
    position: absolute;
    width: 30%;
    left: 0;
    right: 0;
    margin:0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px 0 #000000;
    transition: 0.5s ease;
    cursor: pointer;
    
}
.card img{
    width: 100%;
    object-fit:contain;
}

 input[type=radio]{
    display: none;
}


 
  /* fim das imagens dos clientes*/

  /*começo dos comentarios dos clientes*/
  .depoimentos h1 {
text-align: center;
  }
  .depoimentos > ul {
    padding-left: 0;
    list-style: none;
  }
  .depoimentos > div{
text-align: center;
background:linear-gradient(to bottom, rgb(173, 173, 173),rgb(163, 163, 163));

border:3px solid rgb(61, 61, 61);
}
.depoimentos{
    border:3px solid rgb(61, 61, 61);
  
border-radius: 50px;
 
  }
.servicos h1,p{
  text-align: center;
font-size: 17px;
}
.servicos{

  
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  
  .servicos button{
    transition: 0.8s ease;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 20px;
}
.servicos div{
 
  border-radius: 30px;
  background-color: rgba(38, 58, 74, 0.263);
}

  i {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  footer{

    margin-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 5px solid #000000;
    background: linear-gradient(to bottom, rgb(70, 150, 151),rgb(91, 91, 91));
  }
  .info{
    justify-content: center;
       display: flex;
    color: aliceblue;
     }
     .info #texts{
        display: flex;
        flex-direction: column;
     }
     .info p{
    padding-top: 25px;
     }
     #icons ion-icon{
      padding-right: 10px;
        padding-top: 40px;
     }
     #icons{
        display: flex;
        flex-direction: column;
      }
     
      .formulario button{
        margin-top: 10px;
padding: 15px;
font-size: 20px;

      }
      #gmail{

        
        margin-top: 20px;
        text-align: center;
        

    }
    #mensagem{
      
      padding: 10px;
      border:3px solid #000000;
     
    }
    #nome,#email{
     
      border:3px solid #000000;
   
    padding: 10px;
    }